<h3 mat-dialog-title
    [class.error]="error"
    [class.success]="success"
    [class.warning]="warning"
    [class.custom]="custom">{{title}}</h3>
<mat-dialog-content>
  <p *ngFor="let message of messages">{{message}}</p>
  <div align="center" >
    <input (keyup)="onKey($event)" *ngIf="input" [value]="fakeEmployee.first_name" placeholder="New Name" matInput>
  </div>
  <div align="center">
    <button [matMenuTriggerFor]="realEmployeesMenu" mat-button>Transform</button>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button
          *ngIf="dismissible"
          (click)="dialogRef.close(false)">Cancel</button>
  <button mat-raised-button
          color="primary"
          autofocus="true"
          (click)="dialogRef.close(true)">OK</button>
  <span class="clear"></span>
</mat-dialog-actions>

<mat-menu #realEmployeesMenu="matMenu">
  <button *ngFor="let employee of realEmployees" (click)="transformUser(employee)" mat-menu-item><span>{{employee.first_name}} {{employee.last_name}}</span></button>
</mat-menu>
