:host {
  md-dialog-actions {

    button {
      height: 30px;
      line-height: 30px;
    }

    button[md-raised-button] {
      float: right;
    }
  }

  md-dialog-content {
    width: 30rem;
    overflow: visible;
    margin: 3rem auto;

    p {
      text-align: center;
      padding: .25rem 0;

      &:not(:first-child) {
        border-top: 1px solid #eee;
      }
    }
  }

}
