<h3 mat-dialog-title
    [class.error]="error"
    [class.success]="success"
    [class.warning]="warning"
    [class.custom]="custom">{{title}}</h3>
<mat-dialog-content>
  <p *ngFor="let message of messages">{{message}}</p>
  <section class="checkboxes">
    <mat-checkbox *ngFor="let option of options" (click)="resolve(option)">{{option.name}}</mat-checkbox>
  </section>
  <div align="center" >
    <input (keyup)="onKey($event)" *ngIf="input" mat-input>
  </div>
</mat-dialog-content>
<mat-dialog-actions align="center">
  <button mat-button
    *ngIf="dismissible"
    (click)="dialogRef.close(false)">Cancel</button>
  <button mat-raised-button
    color="primary"
    autofocus="true"
    (click)="dialogRef.close(true)">OK</button>
  <span class="clear"></span>
</mat-dialog-actions>
