$primary-blue: rgb(33, 150, 243);
$primary-blue-trans: rgba(33, 150, 243, .4);

.name-container {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
}

.name-row {
  display: flex;
  flex-direction: row;
}

.project-client {
  cursor: pointer;
  color: $primary-blue;
  font-family: Arial;
  display: flex;
  position: relative;
  width: 33%;
  border: 1px solid white;
  height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 15px;
  padding: 5px;
  margin-left: 15px;
}

.name {
  @extend .project-client;
  color: black;
  width: 50%;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  text-align: center;
}


.add-user {
  @extend .name;
  font-weight: normal;
  cursor: pointer;
}
.capacity {
  @extend .name;
  font-weight: normal;
}

.capacity:focus {
  padding: 4px;
  border: 2px solid $primary-blue;
}

.fake-user-name {
  @extend .capacity;
}

.fake-user-capacity {
  @extend .capacity;
  width: 60%;
}

.fake-user-icon {
  cursor: pointer;
}

input:focus {
  outline-color: $primary-blue;
}

.user_name {
  @extend .name;
  cursor: pointer;
}

.header_name {
  @extend .name;
  cursor: pointer;
  width: 90%;
  align-items: flex-start;
  justify-content: flex-start;
}

.add-employee {
  @extend .user_name;
  color: $primary-blue;
  width: 10%;
  justify-content: flex-start;
  align-items: flex-start;
}

/deep/ md-menu.mat-menu-panel {
  max-height: 50px!important;
}

.mat-menu-panel {
  max-height: 51px!important;
}

.name2 {
  @extend .name;
  width: 100%;
}

.blue-text {
  color: $primary-blue;
}

