<div class="row-container">
  <div *ngFor="let week of getWeeks(), let i = index" class="row">
    <input
      [style.color]="getTextColor()"
      class="capacity"
      maxlength="2" (blur)="send($event.target.value, week)" onclick="select()"
      (input)="type($event.target.value, week)" [value]="!isHeader ? getCapacity(week, i) : getTotal(week, i)"
      [style.background-color]="params.path !== '/projects' ? getColor(week, i) : getColor2(week, i)"
      [disabled]="isHeader">
  </div>
</div>
