<div class="flex-row">
  <div *ngFor="let week of getWeeks(), let i = index">
    <!-- <input
      [style.color]="getTextColor()"
      class="forecast-cell"
      maxlength="2"
      (blur)="send($event.target.value, week)"
      onclick="select()"
      (input)="type($event.target.value, week)"
      [value]="!isHeader ? getCapacity(week, i) : getTotal(week, i)"
      [style.background-color]="params.path !== '/projects' ? getColor(week, i) : getColor2(week, i)"
      [disabled]="isHeader"> -->
    <div class="forecast-cell">
      <div *ngIf="isHeader" class="dot"
           [style.background-color]="params.path !== '/projects' ? getColor(week, i) : getColor2(week, i)"
           [title]="getTotal(week, i)">
      </div>

      <input *ngIf="!isHeader"
             maxlength="2"
             onclick="select()"
             (blur)="send($event.target.value, week)"
             (input)="type($event.target.value, week)"
             [value]="getCapacity(week, i)">

    </div>
  </div>
</div>
