.list {
  width: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.client-name {
  padding: 10px 0 5px 0;
  height: 80px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
}
