.row-container {
  display: flex;
  flex-direction: row;
}

.capacity {
  color: black;
  height: 20px;
  font-weight: bold;
  border: 1px solid #e0e0e0;
  text-align: center;
  width: 55px;
  font-size: 15px;
  display: flex;
  align-items: center;
  padding: 5px;
}
