.row-container {
  display: flex;
  flex-direction: row;
}

.week {
  height: 50px;
  font-weight: bold;
  border: 1px solid gray;
  text-align: center;
  width: 75px;
  font-size: 15px;
  display: flex;
  align-items: center;
  padding: 5px;
}
