<div *ngIf="isDataAvailable" class="three-column profile constrain">

  <div class="three-column__column">
    <div class="profile__details card">
      <div class="profile_details__top flex-column">
        <div class="profile__photo">
          <input (change)="fileChange($event)" type="file" accept=".jpeg,.jpg,.png" title="Upload Photo">
        </div>
        <h1>{{employee.first_name}} {{employee.last_name}}</h1>
        <h2>Software Engineer</h2>
      </div>
      <ul class="icon-list">
        <li class="icon-list-item icon-list-item--phone">
          <mat-icon svgIcon="phone"></mat-icon>
          <a href="tel:{{employee.p_home_phone}}">{{employee.p_home_phone}}</a>
        </li>
        <li class="icon-list-item icon-list-item--email">
          <mat-icon svgIcon="envelope"></mat-icon>
          <a href="mailto:">{{employee.email}}</a>
        </li>
        <li class="icon-list-item icon-list-item--address">
          <mat-icon svgIcon="map-marker"></mat-icon>
          {{employee.p_street_address}}<br>
          {{employee.p_city}}, {{employee.p_state}} {{employee.p_zip_code}}
        </li>
        <li class="icon-list-item icon-list-item--relationship">
          <mat-icon svgIcon="heart"></mat-icon>
          Married to Someone Great
        </li>
        <!-- <li *ngIf="employee.spouse_name" class="icon-list-item--relationship">Married to {{employee.spouse_name}}</li> -->
      </ul>
    </div>
  </div>

  <div class="three-column__column">
    <div class="card card--bordered">
      <h3 class="card__heading">Employee Timeline</h3>
      <ul class="timeline-list">
        <!-- NOTE: remove these hard-coded examples -->
        <li class="timeline-list-item type--review">
          <div class="timeline-list-item__date">Jan 1, 1970</div>
          <div class="timeline-list-item__event">Review</div>
        </li>
        <li class="timeline-list-item type--compensation">
          <div class="timeline-list-item__date">Jan 1, 1970</div>
          <div class="timeline-list-item__event">Compensation</div>
        </li>

        <li *ngFor="let event of employee.events, let i = index" class="timeline-list-item">
          <div class="timeline-list-item__date">
            {{event.date | date: 'MMM d, y'}}
            <mat-icon svgIcon="remove" title="Delete Event" (click)="removeTimelineEvent(event, i)"></mat-icon>
          </div>
          <div class="timeline-list-item__event">{{event.event}}</div>
        </li>
      </ul>

      <hr>

      <h4>Add Timeline Event</h4>
      <form [formGroup]="timelineForm" (ngSubmit)="submitTimelineForm()">
        <mat-input-container class="form-group">
          <input matInput formControlName="event" placeholder="Event" type="text">
        </mat-input-container>
        <div class="form-group">
          <mat-select placeholder="Type" formControlName="type" name="item" floatPlaceholder="never">
            <mat-option *ngFor="let item of items" [value]="item">
              {{item}}
            </mat-option>
          </mat-select>
        </div>
        <mat-input-container floatPlaceholder="never" class="form-group">
          <input readonly="readonly" formControlName="date" matInput [matDatepicker]="picker" placeholder="mm/dd/yyyy" class="form-control">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        </mat-input-container>
        <mat-datepicker #picker></mat-datepicker>
        <button mat-button class="btn btn--default">Add</button>
      </form>
    </div>
    <div class="card">
      <h3 class="card__heading">Vacation Days</h3>
    </div>
  </div>

  <div class="three-column__column">
    <div class="card card--bordered">
      <h3 class="card__heading">Skills</h3>
      <div *ngIf="employee.skills.length == 0">No skills :(</div>
      <mat-chip-list>
        <mat-chip *ngFor="let skill of employee.skills, let i = index">
          {{skill.skill}}<mat-icon (click)="removeSkill(skill, i)" [style.cursor]="'pointer'" svgIcon="remove"></mat-icon>
        </mat-chip>
      </mat-chip-list>
      <form [formGroup]="skillsForm" (ngSubmit)="submitSkillsForm()" class="form-horizontal">
        <mat-input-container>
          <input matInput formControlName="skill" placeholder="New Skill" type="text">
        </mat-input-container>
        <button mat-button class="btn btn--default">Add</button>
      </form>
    </div>
    <div class="card card--bordered">
      <h3 class="card__heading">Notes</h3>
      <ul class="notes-list">
        <li *ngFor="let note of employee.notes, let i = index" class="notes-list-item">{{note.notes}} <mat-icon svgIcon="remove" title="Delete Note" (click)="removeNote(note, i)"></mat-icon></li>
      </ul>

      <hr>
      <h4>Add Note</h4>
      <form [formGroup]="notesForm" (ngSubmit)="submitNotesForm()">
        <mat-input-container>
          <textarea matInput formControlName="notes"></textarea>
        </mat-input-container>
        <button mat-button class="btn btn--default">Add</button>
      </form>
    </div>
  </div>

</div>
