.name-container {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
}

.name-row {
  display: flex;
  flex-direction: row;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  width: 33%;
  border: 1px solid white;
  height: 50px;
  font-size: 15px;
  padding: 5px;
}

.capacity {
  @extend .name;
}

.capacity:focus {
  padding: 4px;
  border: 2px solid limegreen;
}

input:focus {
  outline-color: limegreen;
}

.user_name {
  @extend .name;
  cursor: pointer;
}

.name2 {
  @extend .name;
  width: 100%;
}

