.name-container {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
}

.name-row {
  display: flex;
  flex-direction: row;
}

.project-client {
  color: blue;
  font-family: Arial;
  display: flex;
  position: relative;
  width: 50%;
  border: 1px solid white;
  height: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  font-size: 15px;
  padding: 5px;
  margin-left: 15px;
}

.name {
  @extend .project-client;
  color: black;
  font-weight: bold;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.capacity {
  @extend .name;
  font-weight: normal;
}

.capacity:focus {
  padding: 4px;
  border: 2px solid limegreen;
}

input:focus {
  outline-color: limegreen;
}

.user_name {
  @extend .name;
  cursor: pointer;
}

.name2 {
  @extend .name;
  width: 100%;
}

