<div id="forecast" class="forecast-wrapper">

  <div id="capacity-header" class="capacity-row-container">
    <app-capacity-row [params]="params" [weeks]="weeks" class="header"></app-capacity-row>
  </div>

  <div id="header" class="header-row-container">
    <app-header-row [weeks]="weeks" class="header"></app-header-row>
  </div>

  <div id="side" class="side-list-container">
    <app-side-list *ngIf="isDataAvailable" [params]="params" [isProjectView]="isProjectView" [employees]="employees" [entries]="rollUps"></app-side-list>
  </div>


  <div id="table" class="entry-container" (scroll)="onScroll($event)">
    <div *ngIf="isDataAvailable">
      <div *ngFor="let employee of employees, let i = index">
        <app-roll-up [params]="params" [employee]="employee" [data]="rollUps[i]"></app-roll-up>
      </div>
    </div>
  </div>

</div>
