.entry {
  background-color: white;
}

.flex-container {
  background-color: white;
  height: 50px;
  width: 100%;
  margin-bottom: 14px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding-right: 30px;
}

.name {
  text-align: center;
  font-weight: bold;
  font-size: 20px;
  position: relative;
  width: 33%;
  margin-right: 10px;
}

.test {
  position: relative;
}

.name-container {
  background-color: white;
  position: relative;
  display: inherit;
  width: 60vh;
}

.row-container {
  background-color: white;
  margin-left: 60vh;
  left: 0;
  right: 0;
  overflow-x: hidden;
  position: fixed;
  display: flex;
  align-items: center;
}

.row {
  list-style-type:none;
  padding: 0;
}

.week {
  font-weight: bold;
  border: 2px;
  height: 50px;
  text-align: center;
  width: 75px;
  font-size: 15px;
  display: flex;
  align-items: center;
  padding: 5px;
  border-style: solid;
  border-color: gray;
}

