<div id="forecast" class="forecast-wrapper">

  <div id="title" class="title-container">
    <div class="title-row">
      <div id="name" class="title">Name</div>
      <div *ngIf="!hasProject" [mdMenuTriggerFor]="client_menu" class="title">Client</div>
      <md-menu #client_menu="mdMenu">
        <button *ngFor="let client of clients" md-menu-item (click)="updateEntries('client', client.id)">
          <span>{{client.name}}</span>
        </button>
      </md-menu>
      <div *ngIf="!hasProject" [mdMenuTriggerFor]="project_menu" class="title">Project</div>
      <md-menu #project_menu="mdMenu">
        <button *ngFor="let project of projects" md-menu-item (click)="updateEntries('project', project.id)">
          <span>{{project.name}}</span>
        </button>
      </md-menu>
    </div>
  </div>

  <div id="header" class="header-row-container">
    <app-header-row class="header"></app-header-row>
  </div>

  <div id="side" class="side-list-container">
    <app-side-list [hasProject]="hasProject" [employees]="employees" [entries]="rollUps"></app-side-list>
  </div>

  <div id="table" class="entry-container" (scroll)="onScroll($event)">
    <div *ngFor="let employee of employees, let i = index">
      <app-roll-up [employee]="employee" [data]="rollUps[i]" [row]="i"></app-roll-up>
    </div>
  </div>


</div>
