app-grid-view {
  width: 75%;
}

.table {
  overflow-x: visible;
}

.entry-container {
  margin-top: 12vh;
  top: 0;
  margin-left: 60vh;
  height: 100%;
  width: 100%;
  overflow-x: visible;
  overflow-y: visible;
}

.header {
  background-color: white;
  position: fixed;
  padding-right: 50px;
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  justify-content: left;
}

.side-list-container {
  margin-top: 14vh;
  left: 0;
  height: 100%;
  position: fixed;
  top: 0;
  bottom: 0;
  overflow-y: hidden;
}
