app-grid-view {
  width: 75%;
}

.table {
  overflow-x: visible;
}

.entry-container {
  margin-left: 400px;
  margin-top: 37px;
  height: 100%;
  width: 100%;
  overflow-x: visible;
  overflow-y: visible;
}
