app-grid-view {
  width: 75%;
}

app-side-list {
  width: 25%;
}

.main {
  padding-right: 50px;
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  justify-content: left;
}

.header {
  padding-right: 50px;
  flex-wrap: wrap;
  flex-direction: row;
  display: flex;
  justify-content: left;
}
