.mat-button {
  font-weight: 700;

  &.btn {
    color: #fff;

    &--secondary {
      background-color: $gray-blue;
    }

    &--jumbo {
      font-size: 1.375rem;
      padding: .65rem 1.25rem;

      .mat-icon {
        vertical-align: text-top;
      }
    }
  }
}
