$gray: #555;
$gray-blue: #6b7c93;
$gray-blue-alt: #9ea3ae;
$light-gray: #ddd;
$extra-light-gray: #eee;
$blue-black: #0f1117;
$blue: #5086f1;
$soft-blue: #c7d6f2;
$dark-blue: #3d465d;
$pale-blue: #d9e0ea;
$light-pale-blue: #dee4f0;
$lighter-pale-blue: #e9edf5;
$extra-light-blue: #eff1f4;
$green: #3f9965;
$bright-green: #56c58d;
$yellow: #f2b66f;
$red: #e16363;
