.server-error {
  height: 80vh;
  justify-content: center;
  padding: 3rem 0;
  text-align: center;

  h1 {
    color: $dark-blue;
    font-size: 3.375rem;
    font-weight: 500;
    letter-spacing: -0.5px;
    line-height: 3rem;

    &:before {
      color: $pale-blue;
      content: "\00AF\\_(\30C4)_/\00AF"; // ¯\_(ツ)_/¯
      display: block;
      font-size: 4.375rem;
      line-height: 5rem;
      margin-bottom: 1.5rem;
      text-shadow: 0 2px 3px #fff;
    }
  }

  p {
    font-size: 1.25rem;
    line-height: 2rem;
  }

  &__buttons {
    margin: 2rem 0;

    .btn {
      display: inline-block;
    }
  }
}
