input {
  &:focus {
    outline-color: $blue;
  }
}

.form-group {
  margin-bottom: .75rem;
}

.form-control {
  border: 1px solid $pale-blue;
  border-radius: 3px;
  padding: .375rem .75rem;
}

.form-horizontal {
  margin-bottom: 1rem;

  .btn {
    display: inline-block;
    padding: .375rem 1rem;
  }
}

.mat-input-wrapper {
  border: 1px solid $pale-blue;
  border-radius: 3px;
  padding: 0 .5rem;

  .mat-input-underline {
    bottom: 0;
    left: 0;

    .mat-input-ripple {
      height: 1px;
    }
  }
}

.mat-input-infix {
  border-top: 0;
}

// placeholder text
::-webkit-input-placeholder { // Chrome/Opera/Safari
  color: $gray-blue;
  font-style: italic;
}
::-moz-placeholder { // Firefox 19+
  color: $gray-blue;
  font-style: italic;
}
:-ms-input-placeholder { // IE 10+
  color: $gray-blue;
  font-style: italic;
}
:-moz-placeholder { // Firefox 18-
  color: $gray-blue;
  font-style: italic;
}
.mat-input-placeholder-wrapper { // Material
  .mat-input-placeholder {
    color: $gray-blue;
    font-style: italic;
  }
}

// Material Select
.mat-select {
  border-radius: 3px;
  background: $pale-blue;
}

.mat-select-value,
.mat-select .mat-select-placeholder {
  font-size: .875rem;
  padding-left: .75rem;
}

.mat-select-underline {
  display: none;
}

.mat-select-trigger {
  padding-right: .75rem;
}

.mat-select-arrow,
.mat-select-disabled
.mat-select-value,
.mat-select-trigger {
  color: $dark-blue;
}
