.mat-icon {

  &.background-icon {
    height: auto;
    left: 50%;
    opacity: .4;
    position: absolute;
    top: 0;
    width: 50%;
    z-index: -1;
  }
}

.dot {
  background: $light-gray;
  border-radius: 50%;
  display: block;
  height: 1rem;
  width: 1rem;
}
