.profile {
  margin-top: 5rem;

  .profile__details {
    margin-top: 1rem;
    padding: 1.5rem 1rem;

    .profile_details__top {
      margin-bottom: 1rem;
    }

    h1 {
      font-size: 1.25rem;
      font-weight: 500;
      margin: 0;
      text-align: center;
    }

    h2 {
      font-size: .75rem;
      font-weight: 400;
      line-height: 1rem;
      text-align: center;
    }

    .profile__photo {
      background-color: $pale-blue;
      border-radius: 50%;
      height: 6.25rem;
      margin: -4rem auto .5rem;
      width: 6.25rem;

      input[type="file"] {
        height: 6.25rem;
        opacity: 0;
        width: 6.25rem;

        &:hover {
          cursor: pointer;
        }
      }

      &:hover {
        background-image: url("./assets/icons/ic_file_upload_white_48px.svg");
        background-position: center;
        background-repeat: no-repeat;
      }

    }

    a {
      color: $dark-blue;

      &:hover,
      &:focus {
        color: $blue;
      }
    }
  }
}
