table {
  background: #fff;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.10);
}

table thead tr th {
  background: $lighter-pale-blue;
  color: $dark-blue;
  font-weight: 700;
  padding: 1rem;
  text-align: left;
}

td {
  color: $dark-blue;
  padding: .5rem 1rem;
}

.utility-buttons {
  .mat-icon {
    height: 1.2rem;
    fill: $dark-blue;
    width: 1.2rem;
  }
}

.striped-rows {
  >*:nth-child(even) {
    background-color: $extra-light-blue;
  }

  input,
  .form-control {
    background-color: transparent;
    border-color: transparent;
  }
}
