@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700');

$mat-font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

body,
button,
input,
optgroup,
select,
textarea,
.mat-button-toggle,
.mat-button-base,
.mat-button,
.mat-raised-button,
.mat-fab,
.mat-icon-button,
.mat-mini-fab,
.mat-card,
.mat-checkbox,
.mat-input-container,
.mat-list,
.mat-menu-item,
.mat-radio-button,
.mat-select,
.mat-list .mat-list-item .mat-list-item-content,
.mat-nav-list .mat-list-item .mat-list-item-content,
.mat-simple-snackbar,
.mat-tab-label,
.mat-slide-toggle-content,
.mat-toolbar,
.mat-tooltip,
.mat-typography  {
  font-family: $mat-font-family;
}

.text-money {
  color: $green;
  font-weight: 700;

  &--jumbo {
    color: rgba($bright-green, .75);
    font-size: 2rem;
  }
}

.text-blue {
  color: $blue;
}

.text-right {
  text-align: right;
}

.mat-typography {
  h4 {
    font-weight: 500;
  }
}
