<div *ngIf="isDataAvailable">
  <div>
    <app-entry [isOpened]="employee.opened" [totalCapacities]="totalCapacities" [row]="row" [employeeCapacity]="employee.capacity"></app-entry>
  </div>
  <div *ngIf="employee.opened">
    <div *ngFor="let entry of data, let i = index">
      <app-entry
        [employeeCapacity]="employee.capacity"
        [params]="params"
        [data]="this.entries[i]" [row]="i"
        [entry]='getEntry(entry.first_name, entry.last_name, entry.employee_id, entry.client_name, entry.client_id, entry.project_name, entry.project_id, null, null, null)'></app-entry>
    </div>
  </div>
</div>
