.row-container {
  display: flex;
  flex-direction: row;
}

.week {
  border: 2px solid gray;
  height: 50px;
  text-align: center;
  width: 75px;
  font-size: 15px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.week-red {
  @extend .week;
  background-color: #E57373;
  color: white;
}


.week-orange {
  @extend .week;
  background-color: #FFB74D;
  color: white;
}


.week-yellow {
  @extend .week;
  background-color: #FFEB3B;
}

.week-lime {
  @extend .week;
  background-color: #DCE775;
  color: white;
}

.week-green {
  @extend .week;
  background-color: #81C784;
  color: white;
}
