.graph-data-wrapper {
  height: 475px;
  display: flex;
  flex-direction: row;
}

.data-wrapper {
  display: flex;
  flex-direction: column;
  font-size: 25px;
  justify-content: center;
}

.data {
  height: 20px;
  text-align: center;
  font-size: 15px;
  display: flex;
  align-items: center;
  padding: 5px;
}

app-graph {
  margin-left: 25%;
  position: absolute;
}

.forecast-wrapper {

}

.spacer {
  flex: 1 1 auto;
}

button {
  margin-left: 16px;
}
