<md-toolbar color="primary">
  <span>Forecasting {{filterName}}</span>
  <span class="spacer"></span>
  <button md-raised-button [disabled]="isDisabled" color="accent" (click)="updateGraphView()">{{graphButton}}</button>
  <button md-raised-button [mdMenuTriggerFor]="project_menu" color="accent">Projects</button>
  <md-menu #project_menu="mdMenu">
    <button *ngFor="let project of projects" md-menu-item (click)="updateEntries('project', project.id, project.name)">
      <span>{{project.name}}</span>
    </button>
  </md-menu>
  <button md-raised-button [mdMenuTriggerFor]="client_menu" color="accent">Clients</button>
  <md-menu #client_menu="mdMenu">
    <button *ngFor="let client of clients" md-menu-item (click)="updateEntries('client', client.id, client.name)">
      <span>{{client.name}}</span>
    </button>
  </md-menu>
</md-toolbar>

<div *ngIf="isGraphShowing" class="graph-data-wrapper">
  <app-graph [params]="params"></app-graph>
  <div class="data-wrapper">
    <p><b>Budget:</b> ${{budget}}</p>
    <p><b>Internal Cost to Date:</b> ${{internalCost}}</p>
    <p><b>Budget Spent:</b> ${{budgetSpent}}</p>
    <p><b>Projected Profit:</b> ${{projectedProfit}}</p>
    <p><b>Project Profit Margin:</b> {{projectedProfitMargin | number:'2.2-2'}}%</p>
  </div>
</div>

<div class="forecast-wrapper">
  <app-forecast [height]="height" [forecastHeight]="forecastHeight"></app-forecast>
</div>
