<md-toolbar color="primary">
  <span>Forecasting</span>

  <button #parentMenu="mdMenuTrigger" md-button [mdMenuTriggerFor]="filter_menu">{{filterName}}<md-icon svgIcon="drop-down"></md-icon></button>

  <md-menu [overlapTrigger]="false" #filter_menu="mdMenu">
    <button (click)="filter('', 'All Clients and Projects')" md-menu-item><span>All Clients and Projects</span></button>
    <div *ngFor="let client of filterList">
      <button *ngIf="!checkForChildren(client.projects.length)" (click)="filter(client.projects[0].id, client.name + ' - ' + client.projects[0].name)"  md-menu-item>
        <span>{{client.name}}</span>
      </button>
      <button *ngIf="checkForChildren(client.projects.length)" (click)="$event.stopPropagation()"
              [mdMenuTriggerFor]="proj_menu" md-menu-item>
        <span>{{client.name}}</span>
        <md-menu [overlapTrigger]="false" #proj_menu="mdMenu">
          <button *ngFor="let project of client.projects" (click)="filter(project.id, client.name + ' - ' + project.name)" md-menu-item="">
            <span>{{project.name}}</span>
          </button>
        </md-menu>
      </button>
    </div>
  </md-menu>
</md-toolbar>

<div *ngIf="isGraphShowing" class="graph-data-wrapper">
  <app-graph [params]="params"></app-graph>
  <div class="data-wrapper">
    <p><b>Budget:</b> ${{budget}}</p>
    <p><b>Internal Cost to Date:</b> ${{internalCost}}</p>
    <p><b>Budget Spent:</b> ${{budgetSpent}}</p>
    <p><b>Projected Profit:</b> ${{projectedProfit}}</p>
    <p><b>Project Profit Margin:</b> {{projectedProfitMargin | number:'2.2-2'}}%</p>
  </div>
</div>


<div class="forecast-wrapper">
  <app-forecast [height]="height" [forecastHeight]="forecastHeight"></app-forecast>
</div>
