/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Lato:300,400,400i,700');
//@import "~@angular/material/prebuilt-themes/indigo-pink.css";
//@import "~normalize.css";

$primary-blue: rgb(33, 150, 243);
$primary-blue-trans: rgba(33, 150, 243, .4);

// typography
$mat-font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;

.page-wrapper {

body,
.mat-button-toggle,
.mat-button-base,
.mat-button,
.mat-raised-button,
.mat-fab,
.mat-icon-button,
.mat-mini-fab,
.mat-card,
.mat-checkbox,
.mat-input-container,
.mat-list,
.mat-menu-item,
.mat-radio-button,
.mat-select,
.mat-list .mat-list-item .mat-list-item-content,
.mat-nav-list .mat-list-item .mat-list-item-content,
.mat-simple-snackbar,
.mat-tab-label,
.mat-slide-toggle-content,
.mat-toolbar,
.mat-tooltip,
.mat-typography  {
  font-family: $mat-font-family;
}

.mat-menu-panel {
  overflow-x: hidden !important;
  max-height: 275px !important;
}

md-dialog-container{
  overflow: visible!important;
}
