/* You can add global styles to this file, and also import other style files */
@import "assets/css/variables";
@import "assets/css/colors";
@import "assets/css/typography";
@import "assets/css/buttons";
@import "assets/css/icons";
@import "assets/css/forms";
@import "assets/css/tables";
@import "assets/css/layout";


body {
  background-color: $extra-light-blue;
  color: $dark-blue;
  -webkit-font-smoothing: antialiased;
}

.mat-menu-panel {
  overflow-x: hidden!important;
  max-height: 275px!important;
}

md-dialog-container {
  overflow: visible!important;
}
