.name-container {
  display: flex;
  flex-direction: column;
}

.name-row {
  display: flex;
  flex-direction: row;
}

.name {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  width: 33%;
  border: 2px solid white;
  height: 50px;
  font-size: 15px;
  padding: 5px;
}

.name2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  width: 100%;
  border: 2px solid white;
  height: 50px;
  font-size: 15px;
  padding: 5px;
}
