<div class="name-container">
  <div *ngFor="let employee of employees, let i = index">
    <div class="name-row">
      <div class="name" (click)="updateState(employee)">{{employee.first_name}} {{employee.last_name}}</div>
      <input maxlength="2" class="name" (input)="type($event.target.value, employee)" [value]="employee.capacity/3600">
    </div>
    <div *ngIf="employee.opened">
      <div class="name-row" *ngFor="let entry of entries[i]">
        <div [ngClass]="(!hasProject) ? 'name' : 'name2'"></div>
        <div *ngIf="!hasProject" class="name">{{entry.client_name}}</div>
        <div *ngIf="!hasProject" class="name">{{entry.project_name}}</div>
      </div>
    </div>
  </div>
</div>

