$width: 240px;

.table-wrapper {
  overflow: scroll;
  display: block;
  white-space: nowrap;

}

.cell {
  margin: 0 25px 0 25px;
}

.cell-date {
  text-align: center;
}

.cell-revenue {
  text-align: center;
}

.cell-confidence {
  text-align: center;
}

.cell-duration-weeks {
  text-align: center;
}

.cell-duration-months {
  @extend .cell;
  text-align: center;
}

table {
  border-spacing:0; /* Removes the cell spacing via CSS */
  border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */
}

.project-select {
  width: 352px;
}

.status-select {
  width: 160px;
}

.header {
  width: 20%;
}

th {
  width: 50px;
}

input {
  width: $width;
  height: 50px;
  border: 0;
}

tr {
  margin-right: 26px;
  width: $width;
  height: 50px;
}

td {
  margin-right: 26px;
}



tr:nth-child(even) {
  background-color: #cccccc;

  input {
    background-color: #cccccc;
  }
}

md-input-container {
  width: $width;
  height: 62px;
}

md-select {
  text-align: center;
}

.no-edit {
  text-align: center;
}

