<div>
  <table class="table-wrapper">
    <thead>
    <tr>
      <th></th>
      <th>Priority</th>
      <th>Client</th>
      <!--<th>New Client?</th>-->
      <th>Project</th>
      <th>PM</th>
      <th>Est Revenue</th>
      <th>Confidence</th>
      <th>Status</th>
      <th>Est Signing</th>
      <!--<th>Signing This Month?</th>-->
      <th>Est Start</th>
      <!--<th>Starting This Month?</th>-->
      <!--<th>Project End Date</th>-->
      <!--<th>Duration (weeks)</th>-->
      <!--<th>Duration (months)</th>-->
      <th>Est Monthly</th>
      <!--<th>Revenue from New Business</th>-->
      <!--<th>Total Pipeline Revenue</th>-->
      <!--<th>Completed?</th>-->
      <th>Notes</th>
    </tr>
    </thead>
    <tbody class="striped-rows">
    <tr *ngFor="let item of funnelItems">

      <td class="utility-buttons">
        <!-- EDIT -->
        <mat-icon [style.cursor]="'pointer'" (click)="edit(item)" svgIcon="edit" title="Edit"></mat-icon>
        <!-- DELETE -->
        <mat-icon [style.cursor]="'pointer'" (click)="remove(item)" svgIcon="delete" title="Delete"></mat-icon>
      </td>

      <td>
        {{item.priority}}
      </td>

      <!-- CLIENT NAME -->
      <td>
        <div>
          <a href="{{item.URL}}" target="_blank">{{item.client_name}}</a>
        </div>
      </td>

      <!-- NEW CLIENT?
      <td>
        <div>
          {{ynOptions[item.is_new_client].name}}
        </div>
      </td> -->

      <!-- PROJECT NAME -->
      <td>
        <div>
          {{item.project_name}}
        </div>
      </td>

      <!-- PROJECT MANAGER -->
      <td class="no-edit">
        <div>
          {{item.project_manager}}
        </div>
      </td>

      <!-- ESTIMATED REVENUE -->
      <td class="no-edit">
        <div class="text-money text-right">
          ${{item.revenue | number: '1.0-0'}}
        </div>
      </td>

      <!-- CONFIDENCE -->
      <td>
        <div class="progress progress--confidence progress--positive" [style.width]="item.confidence + 'px'">
          {{item.confidence}}%
        </div>
      </td>

      <!-- STATUS -->
      <td>
        <div>
          {{item.status}}
        </div>
      </td>

      <!-- ESTIMATED SIGNING DATE -->
      <td>
        <div>
          {{item.signing_date | date: 'MM/dd/yyyy'}}
        </div>
      </td>

      <!-- SIGNING THIS MONTH?
      <td class="no-edit">
        <div>
          {{equalsThisMonth(item.signing_date)}}
        </div>
      </td> -->

      <!-- PROJECTED START DATE -->
      <td>
        <div>
          {{item.start_date | date: 'MM/dd/yyyy'}}
        </div>
      </td>

      <!-- STARTING THIS MONTH?
      <td class="no-edit">
        <div>{{equalsThisMonth(item.start_date)}}</div>
      </td> -->

      <!-- PROJECT END DATE
      <td class="no-edit">
        <div>
          {{getEndDate(item.duration_weeks, item.start_date) | date: 'MM/dd/yyyy'}}
        </div>
      </td> -->

      <!-- PROJECT DURATION (WEEKS)
      <td>
        <div>
          {{item.duration_weeks}}
        </div>
      </td> -->

      <!-- PROJECT DURATION (MONTHS)
      <td>
        <div class="cell-duration-months">{{getDurationMonths(item.duration_weeks) | number: '1.2-2'}}</div>
      </td> -->

      <!-- ESTIMATED MONTHLY REVENUE -->
      <td class="no-edit">
        <div class="text-money text-right">
          ${{getMonthlyRevenue(item.revenue, item.duration_weeks) | number: '1.0-0'}}
        </div>
      </td>

      <!-- REVENUE FROM NEW BUSINESS
      <td class="no-edit">
        <div class="text-money text-right">${{getRevenueFromNewBusiness(item.revenue, item.is_new_client) | number: '1.2-2'}}</div>
      </td> -->

      <!-- PIPELINE REVENUE
      <td class="no-edit">
        <div class="text-money text-right">${{getPipelineRevenue(item.revenue, item.confidence) | number: '1.2-2'}}
        </div>
      </td> -->

      <!-- COMPLETED?
      <td>
        <div>
          {{ynOptions[item.completed].name}}
        </div>
      </td> -->

      <!-- NOTES -->
      <td>
        <div>{{item.notes}}</div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
