@import "../../../assets/css/colors";
$width: 240px;

.table-wrapper {
  overflow: scroll;
  display: block;
  white-space: nowrap;
}

table {
  border-spacing: 0; /* Removes the cell spacing via CSS */
  border-collapse: collapse;  /* Optional - if you don't want to have double border where cells touch */
}

.project-select {
  width: 352px;
}

.status-select {
  width: 160px;
}

.header {
  width: 20%;
}

input {
  //width: $width;
  //height: 30px;
  border: 0;
}

md-input-container {
  width: $width;
  height: 62px;
}
