<h3 mat-dialog-title
    [class.error]="error"
    [class.success]="success"
    [class.warning]="warning"
    [class.custom]="custom">{{title}}</h3>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">


  <mat-dialog-content class="two-col-form">
    <mat-input-container *ngFor="let entry of entries">
      <input matInput formControlName="{{entry.formValue}}"
             placeholder="{{entry.name}}"
             [(ngModel)]="entry.text"
             type="text">
      <mat-icon *ngIf="entry.formValue == 'projectName'" [style.cursor]="'pointer'" svgIcon="drop"
                [matMenuTriggerFor]="projectMenu" matSuffix></mat-icon>
      <mat-menu #projectMenu="matMenu">
        <button *ngFor="let project of projects" (click)="setProjectName(project.name)" mat-menu-item> {{project.name}}
        </button>
      </mat-menu>
    </mat-input-container>

    <mat-input-container *ngFor="let entry of numberEntries">
      <input matInput formControlName="{{entry.formValue}}"
             placeholder="{{entry.name}}"
             type="number">
      <span *ngIf="entry.formValue == 'estimatedRevenue'" matPrefix>$</span>
      <span *ngIf="entry.formValue == 'confidence'" matSuffix>%</span>
    </mat-input-container>

    <mat-form-field>
      <mat-select placeholder="{{statusEntry.name}}" formControlName="{{statusEntry.formValue}}">
        <mat-option *ngFor="let option of statusEntry.options" [value]="option.value">
          {{option.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="{{priorityEntry.name}}" formControlName="{{priorityEntry.formValue}}">
        <mat-option *ngFor="let option of priorityEntry.options" [value]="option.value">
          {{option.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox *ngFor="let entry of checkBoxEntries" formControlName="{{entry.formValue}}" >{{entry.name}}
    </mat-checkbox>

    <div>
      <mat-input-container>
        <input readonly="readonly" formControlName="projectedStartDate" matInput [matDatepicker]="picker2"
               placeholder="Estimated Start Date">
        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
      </mat-input-container>
      <mat-datepicker #picker2></mat-datepicker>
    </div>

    <div>
      <mat-input-container>
        <input readonly="readonly" formControlName="estimatedSigningDate" matInput [matDatepicker]="picker1"
               placeholder="Estimated Signing Date">
        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      </mat-input-container>
      <mat-datepicker #picker1></mat-datepicker>
    </div>


  </mat-dialog-content>


  <mat-dialog-actions>
    <button mat-button *ngIf="dismissible" class="btn btn--secondary" (click)="dialogRef.close(false)">Cancel</button>
    <button mat-button class="btn btn--primary" autofocus="true" type="submit">Save</button>
    <span class="clear"></span>
  </mat-dialog-actions>

</form>
