$primary-blue: rgb(33, 150, 243);
$primary-blue-trans: rgba(33, 150, 243, .4);

:host {

  h3 {

    &.error {
      background-color: #c31010;
      color: white;
    }

    &.success {
      background-color: #1eb31e;
      color: white;
    }

    &.warning {
      background-color: #eac607;
      color: white;
    }
  }
}
